<%- include("header") %> 
<%- include("navbar",{page_num:2}) %>

<div class="divtop3">
    <% if (type=="f") { %>
        <div class="banner banner-red" hidden><%= text %></div>
    <% } else if (type=="s") { %>
        <div class="banner banner-green" hidden><%= text %></div>
    <% } %> 
</div>

<div class="main-gallery" data-flickity='{ "freeScroll": true }'>
    <%- include("ItemCards",cards) %> 
</div>

<% if (type!="n")  { %>
    <script>showBody()</script>
    <script>showBanner()</script>
<% } else {%> 
    <script>animate()</script>
<% } %> 
</body>
</html>