<% for( let index = 0; index < cards.length; index++ ) { %>
<div class="item-card stupid" id="<%= cards[index].id %>">
    <div class="item-card-heading"><%= cards[index].name %> </div>
    <div class="item-card-image" id="image-<%= cards[index].id %>"><img id="image-<%= cards[index].id %>"
            src="<%= cards[index].image %>" alt="<%= cards[index].name %>"></div>
    <button class="item-card-button" id="button-<%= cards[index].id %>">
        <%= "CLOSING BID -- Rs " + cards[index].currentBid %>
    </button>
    <div class="item-card-text" id="text-<%= cards[index].id %>">
        <p><b>Deadline –</b> <%= cards[index].deadline.toString().substring(4,15) %></p>
        <p><b>Item Host</b><br> <%= cards[index].creator %></p>
        <p><b>Highest Bidder</b><br> <%= cards[index].highestBidder %></p>
    </div>
</div>
<% } %>