<% for( let index = 0; index < cards.length; index++ ) { %>
    <div class="item-card" id="<%= cards[index].id %>">
        <div class="item-card-heading"><%= cards[index].name %> </div>
        <div class="item-card-image" id="image-<%= cards[index].id %>"><img id="image-<%= cards[index].id %>"
                src="<%= cards[index].image %>" alt="<%= cards[index].name %>"></div>
        <button class="item-card-button" id="button-<%= cards[index].id %>">
            <%= "CURRENT BID -- Rs " + cards[index].currentBid %>
        </button>
    </div>
    <% } %>